@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}
body{
  background: whitesmoke;
  font-size: 16px;
}
h1{ font-size:28px; font-weight: bold;}
h2{ font-size:20px;}
h3{ font-size:18px;}
img{ max-width:100%;}
#content{
  padding-top:20px;
  padding-bottom:20px;
}
#content-wrap{
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}
/****** ヘッダー ******/
/* タイトル */
a#title{
  margin-top: 5px;
  margin-left: 30px;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "メイリオ", meiryo, sans-serif;
}
a#title:hover {
  text-decoration: none;/*下線を消す*/
}
a#title:visited {
  color:#333;
}
/****** 投稿記事・固定記事 ******/
div.entry-content {
  padding-top:10px;
}

.wp-embedded-content {
	max-width: 100%;
}
/* 見出し */
.entry-content H2{
  font-size:24px;
  border-bottom: solid 3px skyblue;
  position: relative;
}
.entry-content H2:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #ffc778;
  bottom: -3px;
  width: 30%;
}
/* pタグ　*/
.entry-content p:not([class]){
  margin-top:2em;
  margin-bottom:2em;
}
/* サムネイル */
img.size-single{
  height:auto;
}
/****** サイドバー ******/
#sidebar{
  text-align: center;
}
footer{ background-color: #222; }
footer p {
  padding:15px 0;
  color: white;
}
h2.widgettitle {
  text-align:left;
  border-bottom: solid 3px black;
}
.widget_sidebar li {
  text-align:left;
  list-style: none;
  margin-top: 0.3em;
  margin-bottom: : 0.3em;
}
.widget_sidebar input[type="submit"]{
  display: block;
  margin: 0.3em 0 0 auto;
  border-radius : 5%;          /* 角丸       */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 5px;     /* 余白       */
  background    : #333333;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 3px 3px 3px #666666;  /* 影の設定 */
  border        : 2px solid #333333;    /* 枠の指定 */
}
.widget_sidebar input[type="submit"]:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #333333;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
/****** 記事一覧(archive.php) ******/
/* ブログカード */
.article-card{
  width:288px;
  height:262px;
  padding-bottom:5px;
  margin:15px;
  box-shadow: 3px 10px 10px #666666;  /* 影の設定 */
  background-color: white;
}
.article-card a.apermalink{
  display: block;
  margin: 5px 7px;
}
.article-list{
  width:98%;
  padding: 10px;
  overflow:hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/****** 共通 ******/
/* パンくずリスト */
.breadcrumb ul{
  list-style: none;
  font-size: .8em;
}
.breadcrumb li{
  display: inline;
}
.breadcrumb li a{
  color: inherit;
  text-decoration: none;
}
.breadcrumb li + li:before{
  content: ">";
  margin-right:.3em;
}
div.breadcrumb{
  background-color: white;
  margin-bottom: 0px;
}
div.category {
  margin: 5px 10px 18px 10px;
  padding: 5px 10px;
  display:inline-block;
  background-color: whitesmoke;
}
