@charset "UTF-8";
/* ==========================================================================
   Foundation
   ========================================================================== */

/* Reset
   ----------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}

/* Base
   ----------------------------------------------------------------- */

body{
  background: whitesmoke;
  font-size: 16px;
}
h1{ font-size:28px; font-weight: bold;}
h2{ font-size:20px;}
h3{ font-size:18px;}
img{ max-width:100%;}
#content{
  padding-top:20px;
  padding-bottom:20px;
}
div#main{
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}
div#sidebar{
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}
/* ==========================================================================
   Layout
   ========================================================================== */

/* Header
   ----------------------------------------------------------------- */
a#title{
  margin-top: 5px;
  margin-left: 30px;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "メイリオ", meiryo, sans-serif;
}
a#title:hover {
  text-decoration: none;/*下線を消す*/
}
a#title:visited {
  color:#333;
}
/****** 投稿記事・固定記事 ******/
div.entry-content {
  padding-top:10px;
}

.wp-embedded-content {
	max-width: 100%;
}
/* 見出し */
#main-text H2{
  font-size:25px;
  margin: 1.5em 0;
  border-bottom: solid 3px skyblue;
  position: relative;
}
#main-text H2:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #ffc778;
  bottom: -3px;
  width: 30%;
}
#main-text H3{
  font-size:24px;
  margin: 1.2em 0;
  /*線の種類（二重線）太さ 色*/
  border-bottom: double 4px #FFC778;
}
#main-text H4{
  margin: 1.2em 0;
  font-size:23px;
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 1.5px  #FFC778;
}
#main-text H5{
  margin: 1.2em 0;
  font-size:22px;
  position: relative;
  padding-left: 1.2em;/*アイコン分のスペース*/
  line-height: 1.4;
}
#main-text H5:before {
  font-family: FontAwesome;
  content: "\f00c";/*アイコンのユニコード*/
  font-weight: 900;
  position: absolute;/*絶対位置*/
  font-size: 1em;/*サイズ*/
  left: 0;/*アイコンの位置*/
  top: 0;/*アイコンの位置*/
  color: #5ab9ff; /*アイコン色*/
  font-weight: 900;
}
#main-text H6{
  margin: 1.2em 0;
  font-size:21px;
  position: relative;
  padding-left: 1.2em;/*アイコン分のスペース*/
  line-height: 1.4;
}
#main-text H6:before {
  font-family: FontAwesome;
  content: "\f00c";/*アイコンのユニコード*/
  font-weight: 900;
  position: absolute;/*絶対位置*/
  font-size: 1em;/*サイズ*/
  left: 0;/*アイコンの位置*/
  top: 0;/*アイコンの位置*/
  color: #5ab9ff; /*アイコン色*/
  font-weight: 900;
}
/* pタグ　*/
.entry-content p:not([class]){
  margin-top:2em;
  margin-bottom:2em;
}
/* リスト */
#main-text ul {
  border: solid 2px #ffb03f;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
}
#main-text ul li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;/*ポチ消す*/
}
#main-text ul li:before {
  font-family: FontAwesome; /* 旧Verの書き方 */
  content: "\f00c";
  position: absolute;
  left : 1em; /*左端からのアイコンまで*/
  color: #ffb03f; /*アイコン色*/
}
/* oiリスト */
#main-text ol {
  counter-reset:number; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  padding: 0.3em 0.8em;
  border: solid 2px #ffb107;
}
#main-text ol li {
  border-bottom: dashed 1px orange;
  position: relative;
  padding: 0.5em 0.5em 0.5em 30px;
  line-height: 1.5em;
}
#main-text ol li:before{
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*数字のデザイン変える*/
  display:inline-block;
  background: #ffb107;
  color: white;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  /* 円の設定 */
  font-size: 12px;
  border-radius: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#main-text ol li:last-of-type {
  border-bottom: none; /*最後のliの線だけ消す*/
}
/* サムネイル */
img.size-single{
  height:auto;
}
/* 引用タグ */
#main-text blockquote {
    position: relative;
    margin :3em 0 0 2em;
    padding: 7px 16px;
    box-sizing: border-box;
    font-style: italic;
    color: #464646;
    border: solid 3px #72ccf4;
}
#main-text blockquote:before{
    display: inline-block;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    content: "\f10d";
    font-family: FontAwesome;
    background: #72ccf4;
    color: #FFF;
    font-size: 22px;
    font-weight: 900;
}
#main-text blockquote:after{
    display: inline-block;
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    content: "\f10e";
    font-family: FontAwesome;
    background: #72ccf4;
    color: #FFF;
    font-size: 22px;
    font-weight: 900;
}
#main-text blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
}
#main-text blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}
/* 画像 */
#main-text img{
  height:auto;
}
/****** サイドバー ******/
#sidebar{
  text-align: center;
}
h2.widgettitle {
  text-align:left;
  border-bottom: solid 3px black;
}
.widget_sidebar li {
  text-align:left;
  list-style: none;
  margin-top: 0.3em;
  margin-bottom: : 0.3em;
}
/* 検索フォーム */
.searchform {
  position: relative;
}
.searchfield {
  font-size: 14px;
  width: 90%;
  margin: 3px;
  padding: 10px;
  border: solid 1px #bbb;
  border-radius: 4px;
  background-color: #efefef;
}
.searchsubmit {
  font-family: FontAwesome;
  font-size: 1.4em;
  position: absolute;
  top: 0;
  right: 12%;
  margin-top: 10px;
  padding: 0;
  cursor: pointer;
  color: #6297f5;
  border: none;
  background: transparent;
}
.searchsubmit:hover {
  opacity: .6;
}
/* ウィジェット */
li.widget {
  margin:20px 7px 0 0;
}
.widget:not(:first-child) {
  margin-top:30px;
}
/****** 記事一覧(archive.php) ******/
/* ブログカード */
.article-card{
  width: 100%;
  padding-bottom:5px;
  margin:15px;
  box-shadow: 3px 10px 10px #666666;  /* 影の設定 */
  background-color: white;
  border-radius:5px;
}
.article-card a.apermalink{
  display: block;
  margin: 5px 7px;
  color:#333;
}
.article-card img{
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.article-list{
  width:98%;
  padding: 10px;
  overflow:hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/****** 共通 ******/
/* パンくずリスト */
.breadcrumb ul{
  list-style: none;
  font-size: .8em;
}
.breadcrumb li{
  display: inline;
}
.breadcrumb li a{
  color: inherit;
  text-decoration: none;
}
.breadcrumb li + li:before{
  content: ">";
  margin-right:.3em;
}
div.breadcrumb{
  background-color: white;
  margin-bottom: 0px;
}
div.category {
  margin: 5px 10px 18px 10px;
  padding: 5px 10px;
  display:inline-block;
  background-color: whitesmoke;
}

/* コンポーネント */
.p-student-voice {
  background-color: lightgray;
  padding: 3px;
}
