@charset "UTF-8";
/* メディアクエリー */
/* コンテンツの横幅を設定 */
/* Staticなブロック要素を中央揃え */
/* 記事ページの余白設定 */
/* hover時の動き */
/* メディアクエリー */
/* コンテンツの横幅を設定 */
/* Staticなブロック要素を中央揃え */
/* 記事ページの余白設定 */
/* hover時の動き */
.editor-styles-wrapper .wp-block-custom-box,
.p-section .wp-block-custom-box {
  border: 2px solid;
  padding: 0.9em 1.3em;
}
.editor-styles-wrapper .wp-block-custom-box.is-style-line__dot,
.p-section .wp-block-custom-box.is-style-line__dot {
  border: 2px dotted;
}
.editor-styles-wrapper .p-blogcard,
.p-section .p-blogcard {
  margin: 20px 0;
  border: 1px solid;
  height: 150px;
}
@media screen and (max-width: 767px) {
  .editor-styles-wrapper .p-blogcard,
.p-section .p-blogcard {
    height: 100px;
  }
}
.editor-styles-wrapper .p-blogcard a,
.p-section .p-blogcard a {
  height: 150px;
  display: flex;
}
@media screen and (max-width: 767px) {
  .editor-styles-wrapper .p-blogcard a,
.p-section .p-blogcard a {
    height: 100px;
  }
}
.editor-styles-wrapper .p-blogcard a img,
.p-section .p-blogcard a img {
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .editor-styles-wrapper .p-blogcard a img,
.p-section .p-blogcard a img {
    width: 100px;
    height: 100px;
  }
}
.editor-styles-wrapper .p-blogcard__child,
.p-section .p-blogcard__child {
  width: calc(100% - 150px);
  padding: 10px 2em;
}
@media screen and (max-width: 767px) {
  .editor-styles-wrapper .p-blogcard__child,
.p-section .p-blogcard__child {
    padding: 3px 5px;
  }
}
.editor-styles-wrapper .p-blogcard__title,
.p-section .p-blogcard__title {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 10px 0;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  width: 100%;
}
.editor-styles-wrapper .p-blogcard__discription,
.p-section .p-blogcard__discription {
  display: inline-block;
  color: dimgray;
  margin: 0 0 10px 0;
}
.editor-styles-wrapper .p-blogcard__editor,
.p-section .p-blogcard__editor {
  border: 1px solid;
  background-color: #E7DBF4;
  padding: 13px;
}
.editor-styles-wrapper .p-blogcard__editor p,
.p-section .p-blogcard__editor p {
  margin: 0 0 14px 0;
}
.editor-styles-wrapper .p-blogcard__editor div,
.p-section .p-blogcard__editor div {
  border: 1px solid;
  padding: 4px 10px;
  background-color: white;
}
.editor-styles-wrapper .p-balloon,
.p-section .p-balloon {
  display: flex;
}
.editor-styles-wrapper .p-balloon__people,
.p-section .p-balloon__people {
  width: 150px;
}
.editor-styles-wrapper .p-balloon__btn,
.p-section .p-balloon__btn {
  font-size: 13px;
}
.editor-styles-wrapper .p-balloon__img,
.p-section .p-balloon__img {
  border-radius: 50%;
  /* 角丸半径を50%にする(=円形にする) */
  width: 150px;
  /* ※縦横を同値に */
  height: 150px;
  /* ※縦横を同値に */
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .editor-styles-wrapper .p-balloon__img,
.p-section .p-balloon__img {
    width: 100px;
    /* ※縦横を同値に */
    height: 100px;
    /* ※縦横を同値に */
  }
}
.editor-styles-wrapper .p-balloon__name,
.p-section .p-balloon__name {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .editor-styles-wrapper .p-balloon__name,
.p-section .p-balloon__name {
    width: 100px;
    /* ※縦横を同値に */
  }
}
.editor-styles-wrapper .p-balloon__balloon,
.p-section .p-balloon__balloon {
  position: relative;
  width: calc(100% - 150px);
}
.editor-styles-wrapper .p-balloon__tail,
.p-section .p-balloon__tail {
  display: none;
}
.editor-styles-wrapper .p-balloon__speech,
.p-section .p-balloon__speech {
  position: relative;
  display: inline-block;
  padding: 15px 15px;
  left: 25px;
  width: calc(100% - 60px);
  min-height: 150px;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .editor-styles-wrapper .p-balloon__speech,
.p-section .p-balloon__speech {
    left: -36px;
    width: calc(100% + 20px);
  }
}
.editor-styles-wrapper .p-balloon__speech:before,
.p-section .p-balloon__speech:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}
.editor-styles-wrapper .p-balloon__speech:after,
.p-section .p-balloon__speech:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}
.editor-styles-wrapper .wp-block-custom-innerblocks,
.p-section .wp-block-custom-innerblocks {
  background-color: #FBDAC8;
  padding: 0.5em 1em;
}

/*
 * ブロックパターン
 */
.p-student-voice {
  background-color: lightgray;
  padding: 3px;
}

.editor-styles-wrapper ul.is-style-bg__ligthblue,
.p-section ul.is-style-bg__ligthblue {
  border: dashed 2px #668AD8;
  background-color: #F8F9FF;
}

.edit-post-meta-boxes-area textarea,
.edit-post-meta-boxes-area input[type=text] {
  box-sizing: border-box;
  width: 100%;
}

.p-balloon__name {
  border: 1px solid;
}

.editor-styles-wrapper .is-root-container > ul {
  padding: 1em 3em;
}