@charset "UTF-8";
div.recommend-left {
  width: 30%;
  min-width: 288px;
  height: auto;
  margin: 2px;
}

div.recommend-center {
  width: 30%;
  min-width: 288px;
  height: auto;
  margin: 2px;
}
div.recommend-right {
  width: 30%;
  min-width: 288px;
  height: auto;
  margin: 2px;
}
div.recommend-article{
  width: 100%;
  overflow:hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* ボタン */
.btn-flat-logo {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
}
.btn-flat-logo:hover {
  background: #1ec7bb;
}
/* 新着記事 */
.article-card {
  width:288px;
  height:262px;
  padding-bottom:5px;
  margin:15px;
  box-shadow: 3px 10px 10px #666666;  /* 影の設定 */
  background-color: white;
}
.article-card a.apermalink {
  display: block;
  margin: 5px 7px;
}
.article-list-one-column {
  width:98%%;
  padding: 10px;
  overflow:hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* トップページの画像 */
div.topimage{
  width: 100vw;
  height: auto;
  background-image: url("../images/top-default.jpg") ;
  background-size: cover;
}
