@charset "UTF-8";
@use 'object/utility/visible';
@use 'Foundation/vars';
/**
 * 管理画面用のCSS
 */
h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.1em;
}

input[type="url"] {
  width: 320px;
}

.setting > p {
  margin: 0.3em 0 0.3em 1.0em;
}

.setting__detail p {
  margin: 0.1em 0 0.1em 2.0em;
}

.fontsize input::placeholder {
  color: lightgray;
}

.uploded-thumbnail img {
  width: 250px;
  margin-left: 20px;
}

/**
 * タブの設定
 */
.cp_tab *,
.cp_tab *:after,
.cp_tab *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp_tab {
  margin: 1em auto;
  position: relative;

  input[type='radio'] {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }

  .cp_tabpanel {
    display: none;
    padding: 0.5em 1em;
    border-left: 1px solid vars.$BLACK_C;
    min-height: 320px;
  }

  .cp_tabpanels {
    position: absolute;
    top: 0;
    left: 10em;
    display: block;
    height: 320px;
  }

  > input {
    &:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
    &:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),
    &:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3),
    &:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4),
    &:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5),
    &:nth-child(11):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(6) {
      display: block;
    }

    + label {
      position: relative;
      z-index: 100;
      top: -15px;
      left: 1px;
      display: block;
      width: 10em;
      margin-bottom: 1px;
      padding: 15px;
      cursor: pointer;
      border: 1px solid vars.$BLACK_C;
      border-right: 0;
      border-radius: 6px 0 0 6px;

      &:last-of-type {
        margin-bottom: 100px;
      }
    }
  }

  > label:hover,
  > input:focus + label {
    color: #0066cc;
  }

  > input:checked + label {
    border-color: vars.$BLACK_C;
    border-right: 1px solid vars.$WHITE_F;
    /*背景色と同じ*/
  }
  @media (max-width: 480px) {
    width: 100%;

    > input + label {
      font-size: 0.7em;
    }

    .cp_tabpanels {
      left: 7em;
      min-width: 7em;
    }
  }
}
