@charset "UTF-8";
@use 'object/utility/visible';
@use 'Foundation/vars';
/**
 * 管理画面用のCSS
 */
h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.1em;
}

table {
  border-collapse: collapse;

  th,td {
    box-sizing: border-box;
    border: 1px solid;
    padding: 0.5em;
  }

  th {
    border-bottom: 2px solid;
    font-weight: bold;
    background: vars.$BLUE_TABLE_HEADER;
    color: white;
  }

  td {
    background: white;
  }
}

input[type="url"] {
  width: 320px;
}

.setting {
  color: vars.$BLACK_3;

  > p {
    margin: 0.3em 0 0.3em 1.0em;
  }
}

.p-admin_description {
  color: vars.$BLACK_5;
}

.setting__detail p {
  margin: 0.1em 0 0.1em 2.0em;
}

.fontsize input::placeholder {
  color: lightgray;
}

.uploded-thumbnail img {
  width: 250px;
  margin-left: 20px;
}

/**
 * タブの設定
 */
.p-tab {
  display: flex;
}

.p-tab--headline {
  display: block;
  width: 100px;
  padding: 0;

  li {
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0;
    background-color: vars.$GRAY_C;
    text-align: center;
    cursor: pointer;

    &.current {
      background-color: vars.$WHITE_F;
    }

    &:hover {
      color: vars.$BLUE_CHAR_HOVER;
    }
  }
}

.p-tab--content {
  display: block;
  width: 70%;
  padding: 0;

  li {
    display: none;
    vertical-align: top;
    background-color: vars.$WHITE_F;
    padding: 5%;
    z-index: 2;

    &.current {
      display: block;
    }
  }
}
