@use 'foundation/vars';
@use 'foundation/mixin';
@use 'object/project/block';
@use 'object/project/blockpattern';
@use 'object/project/blockstyle';
@use 'object/project/metabox';

.p-balloon__name {
  border: 1px solid;
}

.editor-styles-wrapper .is-root-container > ul {
  padding: 1em 3em;
}

.block-editor-inner-blocks {
  background-color: #FBDAC8;
  padding: 0.5em 1em;
}
