@use 'Foundation/vars';

.c-breadcrumb {
  background-color: white;
  margin: 5px 0px 7px 12px;

  ul {
    list-style: none;
    font-size: 0.8em;
  }

  li {
    display: inline;

    a {
      text-decoration: none;
    }

    & + li:before {
      content: ">";
      margin-right: 0.3em;
      margin-left: 0.3em;
    }
  }
}
