@use 'Foundation/vars';
@use 'Foundation/mixin';

.comment-form {
  .comment-form-comment label,
  .comment-form-author label,
  .comment-form-email label,
  .comment-form-url label {
    //display: none;
    display: block;
  }

  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 6px;
  }

  input[type="text"] {
    box-sizing: border-box;
    max-width: 50%;
    padding: 4px 6px;
  }

  input[type="submit"]{
    background: lightgray;
    border: none;
    width: 100%;
    height: 45px;
  }
}

$comment_mrg_btm: 7px;
#comments {
  .comment:not(:last-child) {
    border-bottom: 1px dotted;
    margin-bottom: $comment_mrg_btm;
  }

  .comment-body {
    margin-bottom: $comment_mrg_btm;
  }

  ul {
    list-style: none;
  }

  .comment-author {
    max-width: 100px;
    display: inline-block;

    img {
      display: block;
    }

    cite {
      display: inline-block;
      text-align: left;
    }

    span {
      display: inline-block;
    }
  }

  .commentmetadata {
    display: inline-block;
  }

  .comment-reply-link {
    position: relative;
    display: inline-block;
    width: 58px;
    padding: 2px;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
    color: vars.$WHITE_F;
    background-color: vars.$BLUE;

    &:hover {
      color: vars.$WHITE_F;
      background: vars.$BLUE-HOVER;
    }
  }

  .children {
    margin-left: 1.8em;
    border-left: 2px solid #c7c7f7;
    padding-left: 1em;
    margin-bottom: $comment_mrg_btm;

    @include mixin.mq("sp") {
      margin-left: 0.5em;
    }
  }
}
