.comment-form {
  .comment-form-comment label,
  .comment-form-author label,
  .comment-form-email label,
  .comment-form-url label {
    //display: none;
    display: block;
  }

  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 6px;
  }

  input[type="text"] {
    box-sizing: border-box;
    max-width: 50%;
    padding: 4px 6px;
  }

  input[type="submit"]{
    background: lightgray;
    border: none;
    width: 100%;
    height: 45px;
  }
}

#comments {
  .comment:not(:last-child) {
    border-bottom: 1px dotted;
    margin-bottom: 7px;
  }

  ul {
    list-style: none;
  }

  .comment-body {
    //display: flex;
  }

  .comment-author {
    max-width: 100px;

    img {
      display: block;
    }

    cite {
      display: inline-block;
      text-align: left;
    }

    span {
      display: inline-block;
    }
  }
}
