@use 'Foundation/vars';
@use 'Foundation/mixin';

.pagination {
  @include mixin.paragraphMargin();
  width: 100%;
}

.screen-reader-text {
  display: none;
}

.nav-links {
  @include mixin.blockAndStaticCenter;
  display: table;
  border-spacing: 8px 0;
  text-align: center;
}

.page-numbers {
  display: table-cell;
  width: 40px;
  height: 40px;
  background: vars.$WHITE_F;
  border: 2px solid vars.$BLUE_BUTTON;
  border-radius: 10px;
  color: vars.$BLUE_BUTTON;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;

  &.next {
    width: 50px;
  }

  &:hover {
    color: vars.$WHITE_F;
    background: vars.$BLUE_BUTTON_HOVER;
  }
}
