.c-slider-header {
  z-index: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;

  .slick-list {
    position: relative;
  }

  img {
    max-width: 100%;
  }

  li {
    margin-left: 13px;
    margin-right: 13px;
  }
}
