@charset "UTF-8";
body{  font-size: 16px; }
h1{ font-size:28px; font-weight: bold;}
h2{ font-size:20px;}
h3{ font-size:18px;}
img{ max-width:100%;  }
#content{
  background:url(images/pattern-diamond.png);
  padding-top:20px;
  padding-bottom:20px;
}
#content-wrap{
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}
/* ブログタイトル */
div#title{
  margin-top: 5px;
  margin-left: 30px;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "メイリオ", meiryo, sans-serif;
}
div#title a:hover {
  text-decoration: none;/*下線を消す*/
}
div#title a:visited {
  color:#333;
}
/* サイドバー */
#sidebar{ text-align: center;}
footer{ background-color: #222; }
footer p {
  padding:15px 0;
  color: white;
}
h2.widgettitle {
  text-align:left;
  border-bottom: solid 3px black;
}
.widget_sidebar li {
  text-align:left;
  list-style: none;
  margin-top: 0.3em;
  margin-bottom: : 0.3em;
}
.widget_sidebar input[type="submit"]{
  display: block;
  margin: 0.3em 0 0 auto;
  border-radius : 5%;          /* 角丸       */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 5px;     /* 余白       */
  background    : #333333;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 3px 3px 3px #666666;  /* 影の設定 */
  border        : 2px solid #333333;    /* 枠の指定 */
}
.widget_sidebar input[type="submit"]:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #333333;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
/* 記事一覧(archive.php) */
.article-card{
  width:288px;
  height:262px;
  padding-bottom:5px;
  margin:15px;
  box-shadow: 3px 10px 10px #666666;  /* 影の設定 */
  background-color: white;
}
.article-card a{
  display: block;
  margin: 5px 7px;
}
.article-list{
  width:98%%;
  padding: 10px;
  overflow:hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
