@use 'Foundation/vars';

.adsbygoogle {
  overflow: scroll;
}

.p-section .adsbygoogle {
  margin-top: vars.$PARAGRAPH-MARGIN;
  margin-bottom: vars.$PARAGRAPH-MARGIN;
}

.p-news-card .adsbygoogle {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
