.breadcrumb {
  background-color: white;
  margin-bottom: 0;

  ul {
    list-style: none;
    font-size: 0.8em;
  }

  li {
    display: inline;

    a {
      color: inherit;
      text-decoration: none;
    }

    & + li:before {
      content: ">";
      margin-right: 0.3em;
    }
  }
}

.category {
  margin: 5px 10px 18px;
  padding: 5px 10px;
  display: inline-block;
  background-color: whitesmoke;
}

.p-article {
  H2 {
    @include articleHeading(25px);
  }

  .p-article H3 {
    font-size: 24px;
    margin: 1.2em 0;
    /*線の種類（二重線）太さ 色*/
    border-bottom: double 4px #FFC778;
  }

  H4 {
    margin: 1.2em 0;
    font-size: 23px;
    /*線の種類（実線） 太さ 色*/
    border-bottom: solid 1.5px #FFC778;
  }

  H5 {
    margin: 1.2em 0;
    font-size: 22px;
    position: relative;
    padding-left: 1.2em;
    /*アイコン分のスペース*/
    line-height: 1.4;

    &:before {
      font-family: FontAwesome;
      content: "\f00c";
      /*アイコンのユニコード*/
      font-weight: 900;
      position: absolute;
      /*絶対位置*/
      font-size: 1em;
      /*サイズ*/
      left: 0;
      /*アイコンの位置*/
      top: 0;
      /*アイコンの位置*/
      color: #5ab9ff;
      /*アイコン色*/
      font-weight: 900;
    }
  }

  H6 {
    margin: 1.2em 0;
    font-size: 21px;
    position: relative;
    padding-left: 1.2em;
    /*アイコン分のスペース*/
    line-height: 1.4;

    H6:before {
      font-family: FontAwesome;
      content: "\f00c";
      /*アイコンのユニコード*/
      font-weight: 900;
      position: absolute;
      /*絶対位置*/
      font-size: 1em;
      /*サイズ*/
      left: 0;
      /*アイコンの位置*/
      top: 0;
      /*アイコンの位置*/
      color: #5ab9ff;
      /*アイコン色*/
      font-weight: 900;
    }
  }
  /* リスト */
  ul {
    border: solid 2px #ffb03f;
    padding: 0.5em 1em 0.5em 2.3em;
    position: relative;

    li {
      line-height: 1.5;
      padding: 0.5em 0;
      list-style-type: none;
      /*ポチ消す*/
      &:before {
        font-family: FontAwesome;
        /* 旧Verの書き方 */
        content: "\f00c";
        position: absolute;
        left: 1em;
        /*左端からのアイコンまで*/
        color: #ffb03f;
        /*アイコン色*/
      }
    }
  }

  ol {
    counter-reset: number;
    /*数字をリセット*/
    list-style-type: none;
    /*数字を一旦消す*/
    padding: 0.3em 0.8em;
    border: solid 2px #ffb107;

    li {
      border-bottom: dashed 1px orange;
      position: relative;
      padding: 0.5em 0.5em 0.5em 30px;
      line-height: 1.5em;

      &:before {
        /* 以下数字をつける */
        position: absolute;
        counter-increment: number;
        content: counter(number);
        /*数字のデザイン変える*/
        display: inline-block;
        background: #ffb107;
        color: white;
        font-family: 'Avenir','Arial Black','Arial',sans-serif;
        font-weight: bold;
        /* 円の設定 */
        font-size: 12px;
        border-radius: 50%;
        left: 0;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        /*以下 上下中央寄せのため*/
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      &:last-of-type {
        border-bottom: none;
        /*最後のliの線だけ消す*/
      }
    }
  }

  blockquote {
    position: relative;
    margin: 3em 0 0 2em;
    padding: 7px 16px;
    box-sizing: border-box;
    font-style: italic;
    color: #464646;
    border: solid 3px #72ccf4;

    &:before {
      display: inline-block;
      position: absolute;
      top: -20px;
      left: -20px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      text-align: center;
      content: "\f10d";
      font-family: FontAwesome;
      background: #72ccf4;
      color: #FFF;
      font-size: 22px;
      font-weight: 900;
    }

    &:after {
      display: inline-block;
      position: absolute;
      bottom: -20px;
      right: -20px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      text-align: center;
      content: "\f10e";
      font-family: FontAwesome;
      background: #72ccf4;
      color: #FFF;
      font-size: 22px;
      font-weight: 900;
    }

    p {
      padding: 0;
      margin: 10px 0;
      line-height: 1.7;
    }

    cite {
      display: block;
      text-align: right;
      color: #888888;
      font-size: 0.9em;
    }
  }

  img {
    height: auto;
  }
}
