//記事の装飾は.p-articleで囲むこと
.editor-styles-wrapper,
.p-article {
  ul.is-style-bg__ligthblue {
    border: dashed 2px #668ad8;
    background-color: #f8f9ff;
    padding: 0.5em 0.5em 0.5em 2em;
    list-style-type: none;
    /*ポチ消す*/
    li {
      &:before {
        content: "・";
        color: black;
      }
    }
  }

  .wp-block-custom-box {
    border: 2px solid;
    padding: 0.9em 1.3em;

    &.is-style-line__dot {
      border: 2px dotted;
    }
  }

  .p-blogcard {
    @include paragraphMargin();
    border: 1px solid;
    height: 150px;

    a {
      height: 150px;
      display: flex;
    }
  }

  .p-blogcard__child {
    width: calc(100% - 150px);
    padding: 10px 2em;
  }

  .p-blogcard__title {
    display: inline-block;
    font-weight: bold;
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    width: 100%;
  }

  .p-blogcard__discription {
    display: inline-block;
    color: dimgray;
    margin: 0 0 10px 0;
  }

  .p-blogcard__editor {
    border: 1px solid;
    background-color: #e7dbf4;
    padding: 13px;
    p {
      margin: 0 0 14px 0;
    }
    div {
      border: 1px solid;
      padding: 4px 10px;
      background-color: white;
    }
  }

  // ふきだしに使う画像のサイズ
  $BALLOON-IMG-SIZE: 150px;
  .p-balloon {
    display: flex;
  }

  .p-balloon__people {
    width: $BALLOON-IMG-SIZE;
  }

  .p-balloon__btn {
    font-size: 13px;
  }

  .p-balloon__img {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  $BALLOON-IMG-SIZE;       /* ※縦横を同値に */
    height: $BALLOON-IMG-SIZE;       /* ※縦横を同値に */
    object-fit: cover;
  }

  .p-balloon__name {
    text-align: center;
  }

  .p-balloon__balloon {
    position: relative;
    width: calc(100% - #{$BALLOON-IMG-SIZE});
    background-color: pink;
  }

  .p-balloon__tail {
    position: absolute;

    span {
      display: block;
      display: none;
      top: 10px;
      left: 6px;

      &:nth-child(1) {
        border-style: solid;
        border-width: 0 0 163px 208px;
        border-color: transparent transparent #007bff transparent;
        z-index: 100;
      }
    }
  }

  .p-balloon__speech {
    @include blockAndStaticCenter;
    border: 2px solid;
    padding: 9px 16px;
    width: 90%;
    min-height: $BALLOON-IMG-SIZE;
    background: white;
  }
}
