//記事の装飾は.p-articleで囲むこと
.editor-styles-wrapper,
.p-article {
  ul.is-style-bg__ligthblue {
    border: dashed 2px #668ad8;
    background-color: #f8f9ff;
    padding: 0.5em 0.5em 0.5em 2em;
    list-style-type: none;
    /*ポチ消す*/
    li {
      &:before {
        content: "・";
        color: black;
      }
    }
  }

  .wp-block-custom-box {
    border: 2px solid;
    padding: 0.9em 1.3em;

    &.is-style-line__dot {
      border: 2px dotted;
    }
  }

  .p-blogcard {
    border: 1px solid;
    height: 150px;

    a {
      height: 150px;
      display: flex;
    }
  }

  .p-blogcard__child {
    width: calc(100% - 150px);
    padding: 10px 2em;
  }

  .p-blogcard__title {
    display: inline-block;
    font-weight: bold;
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    width: 100%;
  }

  .p-blogcard__discription {
    display: inline-block;
    color: dimgray;
    margin: 0 0 10px 0;
  }
}
