@use 'Foundation/mixin';
@use 'Foundation/vars';

//記事の装飾は.p-articleで囲むこと
.editor-styles-wrapper,
.p-section {
  .wp-block-custom-box {
    border: 2px solid;
    padding: 0.9em 1.3em;

    &.is-style-line__dot {
      border: 2px dotted;
    }
  }

  .p-blogcard {
    @include mixin.paragraphMargin();
    border: 1px solid;
    height: 150px;

    @include mixin.mq("sp") {
      height: 100px;
    }

    a {
      height: 150px;
      display: flex;

      @include mixin.mq("sp") {
        height: 100px;
      }

      img {
        object-fit: cover;

        @include mixin.mq("sp") {
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  .p-blogcard__child {
    width: calc(100% - 150px);
    padding: 10px 2em;

    @include mixin.mq("sp") {
      padding: 3px 5px;
    }
  }

  .p-blogcard__title {
    display: inline-block;
    font-weight: bold;
    margin: 0 0 10px 0;
    font-size: 18px;
    color: vars.$BLACK_3;
    text-decoration: none;
    width: 100%;
  }

  .p-blogcard__discription {
    display: inline-block;
    color: dimgray;
    margin: 0 0 10px 0;
  }

  .p-blogcard__editor {
    border: 1px solid;
    background-color: vars.$BRIGHT_BLUE_MAGENTA;
    padding: 13px;
    p {
      margin: 0 0 14px 0;
    }
    div {
      border: 1px solid;
      padding: 4px 10px;
      background-color: white;
    }
  }

  // ふきだしに使う画像のサイズ
  $BALLOON-IMG-SIZE: 150px;
  $BALLOON-IMG-SIZE_SP: 100px;
  .p-balloon {
    display: flex;
  }

  .p-balloon__people {
    width: $BALLOON-IMG-SIZE;
  }

  .p-balloon__btn {
    font-size: 13px;
  }

  .p-balloon__img {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  $BALLOON-IMG-SIZE;       /* ※縦横を同値に */
    height: $BALLOON-IMG-SIZE;       /* ※縦横を同値に */
    object-fit: cover;

    @include mixin.mq("sp") {
      width:  $BALLOON-IMG-SIZE_SP;       /* ※縦横を同値に */
      height: $BALLOON-IMG-SIZE_SP;       /* ※縦横を同値に */
    }
  }

  .p-balloon__name {
    text-align: center;
    @include mixin.mq("sp") {
      width:  $BALLOON-IMG-SIZE_SP;       /* ※縦横を同値に */
    }
  }

  .p-balloon__balloon {
    position: relative;
    width: calc(100% - #{$BALLOON-IMG-SIZE});
  }

  .p-balloon__tail {
    display:none;
    span {
      &:nth-child(1) {
      }
    }
  }

  .p-balloon__speech {
    position: relative;
    display: inline-block;
    padding: 15px 15px;
    left: 25px;
    width: calc(100% - 60px);
    min-height: $BALLOON-IMG-SIZE;
    color: vars.$BLACK_5;
    font-size: 16px;
    background: vars.$WHITE_F;
    border: solid 3px vars.$BLACK_5;
    box-sizing: border-box;

    @include mixin.mq("sp") {
      left: -36px;
      width: calc(100% + 20px);
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -24px;
      margin-top: -12px;
      border: 12px solid transparent;
      border-right: 12px solid vars.$WHITE_F;
      z-index: 2;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: -30px;
      margin-top: -14px;
      border: 14px solid transparent;
      border-right: 14px solid vars.$BLACK_5;
      z-index: 1;
    }
  }
}
