@use 'Foundation/vars';

.p-content-table {
  border: 2px solid vars.$BORDER_BLUE;
  padding: 1.5em 0 1.5em 1.5em;
  color: vars.$BLACK_3;
  background: vars.$GRAY_EF;
  border-radius:8px;

  a {
      text-decoration: none;

      &:visited {
        color: inherit;
      }

      &:hover {
        color: vars.$BLUE_CHAR_HOVER;
      }
  }

  li {
    margin-left: 1.2em;
  }
}

p.p-content-table--title {
  margin: 0 0 0.5em 0;
  font-size: 18px;
  font-weight: bold;
}
