@use 'Foundation/mixin';
@use 'Foundation/vars';

.p-related {
  padding: 2px;

  H4 {
    margin: 1.2em 0;
    font-size: 23px;
    border-bottom: solid 1.5px vars.$LIGHT_ORANGE;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    @include mixin.mq("sp"){
      display: block;
    }
  }

  img {
    margin: 0;
  }

  .p-related--item {
    @include mixin.articleShadow();
    background-color: white;
    display: inline-block;
    width: 48%;
    margin: 1%;

    &:hover img {
      @include mixin.hoverImg();
    }

    @include mixin.mq("sp"){
      width: 96%;
      margin: 2% 2% 1% 2%;
    }

    .p-related--title {
      display: inline-block;
      color: black;
      padding: 3px;

      &:hover{
        color: vars.$BLUE_CHAR_HOVER;
      }
    }
  }
}
