.meirio {
  font-family:'メイリオ', 'Meiryo', sans-serif;
}

.yu-gothic {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
}

.yu-mincho {
  font-family : YuMincho , 'Yu Mincho', serif;
}
