/*
 * トップページ
*/

.p-recommend {
  @include areaShadow();
  width: 100%;
  margin: 1% 0 1% 0;
  padding: 10px 20px;
  background-color: white;

  @include mq("tab") {
    @include max-width-content(100%);
    margin: 2% 0 1% 0;
    padding: 10px 0;
  }
}

.p-top--img {
  width: 100vw;
  height: auto;
  background-image: url("../images/top-default.jpg");
  background-size: cover;
}

.p-recommend-area {
  @include blockAndStaticCenter();
  width: 100%;
  padding-bottom: 2em;
  display: flex;

  @include mq("sp"){
    display: block;
  }
}

.p-recommend--img {
  @include articleShadow();
  width: 30%;
  height: auto;
  margin: 0 auto;

  @include mq("sp"){
    width: 96%;
    margin: 2% 2% 1% 2%;
  }
}

.p-news--list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.p-news-card {
  @include articleShadow();
  width: 47%;
  padding-bottom:5px;
  margin: 1.5%;
  background-color: white;
  border-radius:5px;

  @include mq("sp"){
    width: 96%;
    margin: 2% 2% 1% 2%;
  }

  img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.p-news-card--a {
  display: block;
  margin: 5px 7px;
  color:#333;
}

.article-list{
  width:98%;
  padding: 10px;
  overflow:hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
