/*
 * トップページ
*/
@use 'Foundation/mixin';
@use 'Foundation/vars';

.p-recommend {
  @include mixin.areaShadow();
  width: 100%;
  margin: 1% 0 1% 0;
  padding: 10px 20px;
  background-color: white;

  @include mixin.mq("tab") {
    @include mixin.max-width-content(100%);
    margin: 2% 0 1% 0;
    padding: 10px 5.2em;
  }

  @include mixin.mq("sp") {
    box-sizing: border-box;
    padding: 10px 1.2em;
  }
}

.p-top--img {
  width: 100vw;
  height: auto;
  background-image: url("../images/top-default.jpg");
  background-size: cover;
}

.p-recommend-area {
  @include mixin.blockAndStaticCenter();
  width: 100%;
  padding-bottom: 2em;
  display: flex;

  @include mixin.mq("sp"){
    display: block;
  }
}

.p-recommend--img {
  @include mixin.articleShadow();
  display: block;
  @include mixin.blockAndStaticCenter();
  width: 95%;
  height: auto;
  margin: 0 auto;

  @include mixin.mq("sp"){
    width: 96%;
    margin: 2% 2% 1% 2%;
  }
}

.p-news--list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.p-news-card {
  @include mixin.articleShadow();
  position:relative;
  width: 47%;
  padding-bottom:5px;
  margin: 1.5%;
  background-color: white;
  border-radius:5px;

  @include mixin.mq("sp"){
    width: 96%;
    margin: 2% 2% 1% 2%;
  }

  img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.p-news-card--category {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.6);
  top: 6px;
  right :6px;
  padding: 0 5px;
  color: dimgray;

  span {
    font-size: 14px;
  }
}

.p-news-card--title {
  display: block;
  text-decoration: none;
  margin: 5px 7px;
  color:vars.$BLACK_3;
}

.article-list{
  width:98%;
  padding: 10px;
  overflow:hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
