/*
 * トップページ
*/
@use 'Foundation/mixin';
@use 'Foundation/vars';

.p-recommend {
  @include mixin.areaShadow();
  width: 100%;
  margin: 1% 0 1% 0;
  padding: 10px 20px;
  background-color: white;

  @include mixin.mq("tab") {
    @include mixin.max-width-content(100%);
    margin: 2% 0 1% 0;
    padding: 10px 5.2em;
  }

  @include mixin.mq("sp") {
    box-sizing: border-box;
    padding: 10px 1.2em;
  }
}

.p-recommend-area {
  @include mixin.blockAndStaticCenter();
  width: 100%;
  padding-bottom: 2em;
  display: flex;

  @include mixin.mq("sp"){
    display: block;
  }
}

a.p-recommend--a {
  width: 33.333%;
  border-radius:5px;

  @include mixin.articleShadow();
  @include mixin.blockAndStaticCenter();

  .p-recommend--img {
    border-radius:5px;
  }

  @include mixin.mq("sp"){
    width: 100%;
    margin: 4% 0;
  }

  &:hover img {
    @include mixin.hoverImg();
  }

  &:not(:last-child){
    margin-right: 1.4em;
  }
}

.p-news--list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.p-news-card {
  @include mixin.articleShadow();
  position:relative;
  width: 47%;
  margin: 1.5%;
  background-color: white;
  border-radius:5px;

  &:hover img {
    @include mixin.hoverImg();
  }

  @include mixin.mq("sp"){
    width: 100%;
    margin: 2% 0 1% 0;
  }

  img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.p-news-card--content {
  display: block;
  padding: 0.5em 9px 1.5em 9px;
  text-decoration: none;

  h2.p-news-card--title {
    margin-bottom: 0.5em;
    color: vars.$BLACK_3;
  }

  p.p-news-card--description {
    font-size: 14px;
    color: vars.$GRAY_6;
  }
}
