@use 'Foundation/mixin';
@use 'Foundation/vars';

.l-footer {
  width: 100%;
  box-sizing: border-box;

  a {
    text-decoration: none;
  }
}

.l-footer--center {
  text-align: center;
  padding:15px 0;
}

.l-footer--widgets {
  box-sizing: border-box;
  width: 100vw;
  @include mixin.blockAndStaticCenter();

  @include mixin.mq("tab"){
    width: 100%;
    padding-left: 5.2em;
    padding-right: 5.2em;
  }

  @include mixin.mq("sp"){
    padding-left: 1.2em;
    padding-right: 1.2em;
  }

  .l-footer--widget {
    width: calc(33.333% - ((2em + 2em) / 3));
    margin: 1em 0;

    @include mixin.mq("tab"){
      width: 100%;
      margin-left: 0;
    }

    @include mixin.mq("sp"){
      width: 100%;
    }

    &:not(:first-child) {
      margin-left: 2em;

      @include mixin.mq("tab"){
        margin-left: 0;
      }
    }
  }

  .l-footer--widgettitle {
    margin-bottom: 0.5em;
  }
}
