@use 'Foundation/vars';

.l-footer {
  width: 100%;
  background-color: vars.$BLACK_2;

  //フッターを下に固定
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

.l-footer--center {
  text-align: center;
  padding:15px 0;
  color: white;
}

.l-footer--widgets {
  display: flex;

  a {
    color: white;
  }

  h4 {
    color: white;
  }

  .l-footer--widget {
    width: 30%;
  }
}
