@use 'Foundation/mixin';
@use 'Foundation/vars';

.l-footer {
  width: 100%;
  box-sizing: border-box;
  padding: 1.7em 1em 0;
  background-color: vars.$BLACK_2;

  //フッターを下に固定
  //position: absolute;/*←絶対位置*/
  //bottom: 0; /*下に固定*/
}

.l-footer--center {
  text-align: center;
  padding:15px 0;
  color: white;
}

.l-footer--widgets {
  display: flex;
  flex-wrap: wrap;
  width: vars.$layout-width-inner;
  @include mixin.blockAndStaticCenter();

  @include mixin.mq("tab"){
    width: 100%;
  }

  a {
    color: white;
  }

  h4 {
    color: white;
  }

  .l-footer--widget {
    width: calc(33.333% - ((2em + 2em) / 3));
    margin: 1em 0;

    @include mixin.mq("sp"){
      width: 100%;
    }

    &:not(:first-child) {
      margin-left: 2em;
    }
  }

  .l-footer--widgettitle {
    margin-bottom: 0.5em;
  }
}
