@use 'Foundation/vars';

.l-header {
  width: 100%;
}

.l-nav-title {
  display: inline-block;
  text-decoration: none;
  margin-right: 21px;
  color: inherit;
  font-size: 26px;
  text-align: left;
}

.l-hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  right: 13px;
  top: 12px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;

  span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: vars.$BLACK_5;

    &:nth-child(1) {
      top: 10px;
    }

    &:nth-child(2) {
      top: 20px;
    }

    &:nth-child(3) {
      top: 30px;
    }
  }

  &.active {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

    span {
      &:nth-child(1) {
        top: 16px;
        left: 6px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:nth-child(2) {
        top: 16px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        opacity: 0;
      }
    }
  }
}

.l-nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  text-align: center;
  transform: translateX(100%);
  transition: all 0.6s;
  width: 100%;
  @media (min-width: vars.$MAX-WIDTH-SP) {
    position: relative;
    display: flex;
    transition: none;
    transform: translateX(0%);
    padding: 16px 0 0 30px;
    z-index: 900;
    width: auto;
  }

  &.active {
    transform: translateX(0%);
  }
}

.l-nav .l-nav-menu {
  margin: 0 2em 0 auto;
  padding: 0;
  width: auto;

  //サブメニューの設定
  //初期表示では、サブメニューは非表示にしておく
  .sub-menu {
    position: absolute;
    display: none;
    background-color: vars.$BLACK_3;
    width: 100%;
    color: white;
  }

  //サブメニューの設定
  & > .nav-item > .sub-menu {
    left: 0;
    width: 240px;

    > li.nav-item {
      width: 100%;

      .sub-menu {
        right: -100%;
        top: 0;

        li.nav-item {
          width: 100%;
        }
      }
    }
  }

  .nav-item {
    //サブメニューは.nav-itemを起点に位置を調整するため、position:relativeにする
    position: relative;
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid vars.$WHITE_F;
    @media (min-width: vars.$MAX-WIDTH-SP) {
      display: inline-block;
      border: none;
      width: auto;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    &:hover {
      background: vars.$GRAY_D;
      color: vars.$BLUE_CHAR_HOVER;

      //メニューをホバーすると、サブメニューを再表示
      > .sub-menu {
        display: inline-block;
      }
    }
  }
  @media (min-width: vars.$MAX-WIDTH-SP) {
    display: flex;
  }

  a {
    display: block;
    color: inherit;
    padding: 1em 0;
    text-decoration: none;
    @media (min-width: vars.$MAX-WIDTH-SP) {
      padding: 0.6em 0.8em;
    }
  }
}

.l-header__img {
  width: 100%;
}
