@use 'Foundation/mixin';

.l-main {
  @include mixin.max-width-content(67%);
  @include mixin.areaShadow();
  background-color: white;
  margin: 1% 1% 2% 0;
  padding: 10px 1%;
  background-color: white;

  @include mixin.mq("tab") {
    @include mixin.max-width-content(100%);
    box-sizing: border-box;
    margin: 2% 0 1% 0;
    padding: 10px 5.2em;
  }

  @include mixin.mq("sp") {
    box-sizing: border-box;
    padding: 10px 1.2em;
  }
}

.l-main__col-1 {
  @extend .l-main;
  @include mixin.max-width-content(100%);
}

.wp-embedded-content {
  max-width: 100%;
}
