.l-main {
  @include max-width-content(67%);
  @include areaShadow();
  background-color: white;
  margin: 1% 1% 2% 2%;
  padding: 10px 20px;
  background-color: white;
}

.wp-embedded-content {
  max-width: 100%;
}
