@use 'Foundation/mixin';
@use 'Foundation/vars';

.l-sidebar {
  @include mixin.max-width-content(28%);
  @include mixin.areaShadow();
  background-color: white;
  margin: 1% 0 2% 1%;
  padding-left: 1%;
  text-align: center;

  @include mixin.mq("tab") {
    @include mixin.max-width-content(100%);
    box-sizing: border-box;
    margin: 2% 0 1% 0;
    padding: 10px 5.2em;
  }

  @include mixin.mq("sp") {
    box-sizing: border-box;
    padding: 10px 1.2em;
  }

  li {
    list-style: none;
    margin-bottom: 5px;

    a {
      text-decoration: none;
    }
  }

  .widget {
    margin: 20px 7px 0 0;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  .widgettitle {
    text-align: left;
    border-bottom: solid 3px black;
    margin-bottom: 10px;
  }

  .widget_sidebar {
    text-align: left;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  .searchform {
    position: relative;
  }

  .searchfield {
    display: block;
    font-size: 14px;
    width: 91%;
    padding: 10px;
    border: solid 1px vars.$GRAY_B;
    border-radius: 4px;
    background-color: vars.$GRAY_EF;

    @include mixin.mq("tab") {
      @include mixin.blockAndStaticCenter();
      box-sizing: border-box;
      width: 100%;
    }
  }

  .searchsubmit {
    content: "\f0e0";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 1.4em;
    position: absolute;
    top: -3px;
    right: 23px;
    margin-top: 10px;
    padding: 0;
    cursor: pointer;
    color: #6297f5;
    border: none;
    background: transparent;

    &:hover {
      opacity: 0.6;
    }
  }
}
