.l-sidebar {
  @include max-width-content(27%);
  @include areaShadow();
  background-color: white;
  margin: 1% 2% 2% 1%;
  padding-left: 1.5%;
  text-align: center;

  @include mq("tab") {
    @include max-width-content(100%);
    margin: 2% 0 1% 0;
    padding-left: 0;
  }

  li {
    list-style: none;
  }

  .widget {
    margin: 20px 7px 0 0;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  .widgettitle {
    text-align: left;
    border-bottom: solid 3px black;
  }

  .widget_sidebar {
    text-align: left;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  .searchform {
    position: relative;
  }

  .searchfield {
    font-size: 14px;
    width: 97%;
    padding: 10px;
    border: solid 1px #bbb;
    border-radius: 4px;
    background-color: #efefef;
  }

  .searchsubmit {
    font-family: FontAwesome;
    font-size: 1.4em;
    position: absolute;
    top: 0;
    right: 12%;
    margin-top: 10px;
    padding: 0;
    cursor: pointer;
    color: #6297f5;
    border: none;
    background: transparent;

    &:hover {
      opacity: 0.6;
    }
  }
}
